<h4>Fight detector setting</h4>
<div class="clr-row">
  <div class="clr-col-3"></div>
  <div class="clr-col-6 card">
    <form  class="clr-form clr-form-horizontal" [formGroup]="configForm" >
      <clr-input-container>
        <label>Area name</label>
        <input
          clrInput
          placeholder="Enter area name"
          formControlName="areaname"
          name="areaname"
        />
      </clr-input-container>
      <clr-range-container [clrRangeHasProgress]="true">
        <label>Cool Down</label>
        <input
          type="range"
          step="0.5"
          min="1"
          max="300"
          #cd
          clrRange
          formControlName="cooldown"
          name="coolDown"
        />
        <clr-control-helper>{{cd.value}} seconds</clr-control-helper>
      </clr-range-container>
      <!-- unintrusive warning -->
      <ng-container *ngIf="configForm.value.cooldown > detectionAccuracy">
        <div [@flyUpDown]="true">
          <app-notification
            [message]="'This will decrease the detection accuracy'"
            [alertType]="'warning'"
            [closable]="false"
          ></app-notification>
        </div>
      </ng-container>
      <!--  -->
      <clr-range-container [clrRangeHasProgress]="true">
        <label>Detection Time</label>
        <input
          type="range"
          step="0.5"
          min="1"
          #dt
          max="30"
          clrRange
          formControlName="detectiontime"
          name="detectionTime"
        />
        <clr-control-helper>{{ dt.value }} seconds</clr-control-helper>
      </clr-range-container>
      <!-- unintrusive warning -->
      <ng-container *ngIf="aboveCooldown()">
        <div [@flyUpDown]="true">
          <app-notification
            [message]="'This should be lower than cool down time'"
            [alertType]="'danger'"
            [closable]="false"
          ></app-notification>
        </div>
      </ng-container>
      <!--  -->
      <clr-select-container>
        <label>Mode</label>
        <select clrSelect name="mode" formControlName="mode">
          <option value="accuracy">Accuracy</option>
          <option value="medium">Medium</option>
          <option value="performance">Performance</option>
        </select>
      </clr-select-container>
    </form>
    <div class="action-button">
     <button [disabled]="!configChanged || aboveCooldown()" class="btn btn-primary btn-sm" (click)="saveConfig()">Save Changes</button>   
    </div>
  </div>
</div>
