<!-- Inteded to be an app level alert component -->
<!-- <ng-container *ngIf="data.active">
    <clr-alert [clrAlertType]="data.type">
        <clr-alert-item>
            <span class="alert-text">
                {{data.message}}
            </span>
        </clr-alert-item>
    </clr-alert>
</ng-container> -->

<clr-alert [clrAlertSizeSmall]="true" [clrAlertType]="alertType" [clrAlertClosable]="closable">
        <clr-alert-item>
            <span class="alert-text">
                {{message}}
            </span>
        </clr-alert-item>
</clr-alert>